[Unit]
Description=Weltempfänger Hardware Input Daemon
Requires=volumio.service
After=volumio.service

[Service]
Type=simple
User=volumio
Group=volumio
WorkingDirectory=/home/volumio
ExecStart=/home/volumio/inputd
TimeoutStartSec=2
TimeoutStopSec=5
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
